<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Waste for Sorting</div>
    <p align="justify">
      <b>Abstract</b>: Training was done on a set of 2527 images split into 2022 for training (80%) and 505 for validation (20%). Object classes: 'cardboard', 'glass', 'metal', 'paper', 'plastic', 'trash'.<br> 
(Dataset can be downloaded from -->[<a href="https://github.com/garythung/trashnet/blob/master/data/dataset-resized.zip">here</a>].)<br><br>
  
Transfer learning was first done using a pretrained ResNet50 as backbone and a single hidden layer as classifier. 
With the initial layers frozen, weights were learnt using the last fully connected layers.<br> 
After this, the layers were 'unfreezed' so the entire model was trained.<br><br> 
      Final training loss = 0.128775 and error rate=0.071287 (93% accuracy) after 20 epochs.<br>
      Total training time was about 30 minutes using ASUS GL703GS-E5010T with GTX 1070 GPU card. 
    </p>
    <br>
    <p>
      Use images of 'cardboard', 'glass', 'metal', 'paper', 'plastic' or 'trash'
    </p>
    <p>
      <!--
      <img src="../images/glass_160.jpg">1<br>
      <img src="../static/images/glass_160.jpg">2<br>
      <img src="images/glass_160.jpg">3<br>
      <img src="/images/glass_160.jpg">4<br>
      -->
    
      <!--<a href="../images/display.html" target="_blank">Examples1</a>-->
      <!--<a href="display.html" target="_blank">Examples2</a>-->
      See examples of images it has been trained on -->[<a href="../static/display.html" target="_blank">here</a>]
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
